
body{
	padding: 10px;
	margin:  2%; 
	font-size: 120%;
}
header {
	background-color: #B3B3B3;
	background-image: url("../images/flywheel.jpg");
	padding-top: 2%;
	padding-bottom: 3%;
	background-size: cover;
	font-size: 120%;
	text-align: center;
}
nav a{
	display: inline-block;
	margin-right: 7%;
	border-radius: 5px; 
	text-decoration: none;
	padding: 1% 4%;
	opacity: 70%;

	color: #000000;
	background: #DCDCDC;
}
.active{
	background: #FFFFFF;
	color: #0000F0;
}
.left{
	/*display: inline-block;*/
	width: 30%;
	height: 120vh;
	float: left;
	background: #808000; 
}
.left img{
	
	display: block;
	box-sizing: border-box;
	border: 5px solid #000000;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	
}
.right{
	display: inline-block; 
	width: 68%;
	height: 100vh;
	background: #FFFFFF;
	padding-left: 2%;
}

h1{
	color: #FFFFFF;
	font-size: 150%;
	text-align: center;
	text-transform: uppercase;
}
table{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	width: 80%;
	margin: 0 auto;

}
th{
	background: linear-gradient(#8ee548 0%, #63a132 100%); 
	color: #FFFFFF;
	border-radius: 6px 6px 0 0;
	border-bottom: 5px solid #bee69e;
}
tr{
	opacity: 0.8;
}
tr:hover{
	opacity: 1;
}

td{
	text-align: center;
	color: #06425C;
	background: #ceee94;
	padding: 1% 2% 1% 2%;
	border-radius: 2px;
}
td:first-child{
	text-align: left;
}
